<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <h2>ProfStock</h2>
</header>

<h1>
  <ul>
    <li><a class="active" href="home">Home</a></li>
    <li><a href="portfolio">Portfolio</a></li>
    <li><a href="watchlist">Watchlist</a></li>
    <li style="float:right"><a href="SignUpPage">Login</a></li>
    <li style="float:right"><input type="text" id="password" name="password" placeholder="search"></li>
  </ul>
</h1>

<h2>
  <table class = "home1" align="center">
    <tr>
      <th>Top 10 Stocks by Market Cap</th>
      <th>Top users</th>
    </tr>
    <tr>
      <td>
        <table class = "home2" align="center">
          <tr>
            <th>Name</th>
            <th>$</th>
            <th>#</th>
          </tr>
        </table>
      </td>
      <td>
        <table class = "home2" align="center">
          <tr>
            <th>Username</th>
            <th>Return #%</th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</h2>



<footer>
  <p></p>
</footer>

</body>
</html>
