<!DOCTYPE html>


<!--
  Ben Adelson
-->
<html lang="en">
<head>
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <h1>ProfStock</h1>
</header>
<div id="root"></div>
<div id="subInfo"></div>

<script type="text/babel">

  class SubLinks extends React.Component {
    render() {
      return (
        <h2>
          <ul>
            <li><a className="active" href="{{ url_for('home') }}">Home</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="watchlist">Watchlist</a></li>
            <li style={ {float:"right"}}>
              <form action="/stockinfo" method="post">
                <input type="text" name="ticker" placeholder="Enter ticker"/>
                <input type="submit" value="Search"/>
              </form>
            </li>
            {% if session %}
            <li style={ {float:"right"}}><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li style={ {float:"right"}}><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
          </ul>
        </h2>);
    }
  }

  function Top10Stock() {
    const items = [
    {
      id: 1,
      name: 'APPLE INC',
      marketCap:'$2.599 T',
      price: '$159.30',
      ticket: 'AAPL'
    },
    {
      id: 2,
      name: 'Saudi Aramco',
      marketCap:'$2.386 T',
      price: '$11.94',
      ticket: '2222.SR'
    },
    {
      id: 3,
      name: 'MICROSOFT CORP.',
      marketCap:'$2.090 T',
      price: '$278.91',
      ticket: 'MSFT'
    },
    {
      id: 4,
      name: 'Alphabet (Google)',
      marketCap:'$1.670 T',
      price: '$2,529',
      ticket: 'GOOG'
    },
    {
      id: 5,
      name: 'Amazon',
      marketCap:'$1.398 T',
      price: '$2,749',
      ticket: 'AMZN'
    },
    {
      id: 6,
      name: 'Tesla',
      marketCap:'$831.54 B',
      price: '$804.58',
      ticket: 'TSLA'
    },
    {
      id: 7,
      name: 'Berkshire Hathaway',
      marketCap:'$715.71 B',
      price: '$484,527',
      ticket: 'BRK-A'
    },
    {
      id: 8,
      name: 'Meta (Facebook)',
      marketCap:'$535.97 B',
      price: '$187.47',
      ticket: 'FB'
    },
    {
      id: 9,
      name: 'NVIDIA',
      marketCap:'$532.09 B',
      price: '$213.52',
      ticket: 'NVDA'
    },
    {
      id: 10,
      name: 'TSMC',
      marketCap:'$519.23 B',
      price: '$99.29',
      ticket: 'TSM'
    }]


    const itemRows = [];
    for (let item of items) {
      const row = (
        <tr key={item.id}>
          <td key={1}>{item.id}</td>
          <td key={2}>{item.name}</td>
          <td key={3}>{item.marketCap}</td>
          <td key={4}>{item.price}</td>
          <td key={5}>{item.ticket}</td>
        </tr>
      );
      itemRows.push(row);
    }
    return (
      <table className = "home2" align="center">
        <thead>
          <tr>
            <th colSpan = '5'>Top 10 Stocks by Market Cap</th>
          </tr>
          <tr>
            <th>#</th>
              <th>Name</th>
              <th>Market Cap</th>
              <th>Price</th>
              <th>ticket</th>
          </tr>
        </thead>
        <tbody>
          {itemRows}
        </tbody>
      </table>
    );
  }

  function TopUsers() {
    
    let leaderboard = fetch('http://localhost:5000/leaderboard') 
    return (
      
    
      <table className = "home2" align="center">
        <thead>
          <tr>
            <th colSpan = '3'>Top users</th>
          </tr>
          <tr>
            <th>Top Users</th>
            <th>Return %</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          {% for result in leaderboardlist %}
            <tr>
              {% for elem in result %}
                <td>{{elem}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    );
  }
  //<td>{itemRows}</td>

  /*
<tr>
            <td>{leaderboard.users}</td>    
            <td>{leaderboard.usernames}</td>
            <td>{leaderboard.invested}</td>
          </tr>

  */


  class SubInfo extends React.Component {
    render() {
      return (
        <h3>
          <div id="homeContainer">
            <div id="Top10StockTable">
              {Top10Stock()}
            </div>
            <div id="TopUsersTable">
              {TopUsers()}
            </div>
            <div id="clear"></div>
        </div>
        </h3>);
    }
  }

  ReactDOM.render(<SubLinks />, document.getElementById('root'))
  ReactDOM.render(<SubInfo />, document.getElementById('subInfo'))
</script>

<footer>
  <p></p>
</footer>

</body>
</html>