<!DOCTYPE html>


<!--
  Ben Adelson
-->
<html lang="en">
<head>
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <h1>ProfStock</h1>
</header>


<script type="text/babel">
  
  import top10Stocks from './components/top10Stocks.js';

  function App() {
    return (
      <div ClassName="App">
        <SubInfo/>
      </div>
    )
  }

  //ReactDOM.render(<SubLinks />, document.getElementById('root'))
  //ReactDOM.render(<SubInfo />, document.getElementById('subInfo'))
</script>

<footer>
  <p></p>
</footer>

</body>
</html>