<html>  
    <head>  
        <title> React with npm</title>
        <!--When we deploy replace development.js with production.min.js-->    
        <link rel="stylesheet" href="maiaPrototype.css">
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    </head>  
    <body>
        <h1>test test test</h1>
        <div id="stock-list"></div>
        
        <script src="maiaPrototype.js"></script>               
    </body>  
</html> 