<!DOCTYPE html>
<html>
    <head>
        <Title>Portfolio</Title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <header>
        <h1>ProfStock</h1>
    </header>
        <h1>
            <ul>
                <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
              <li><a href="{{ url_for('watchlist') }}">Watchlist</a></li>
              {% if session %}
              <li><a href="{{url_for('profile')}}">Profile</a></li>
              {% else %}
              {% endif %}
              <li style="float:right">
                <!-- send post request with stock ticker-->
                <form action="/stockinfo" method="post">
                <input type="text" name="ticker" placeholder="Enter ticker">
                <input type="submit" value="Search">
                </form>
              </li>
            {% if session %}
            <li style="float:right"><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li style="float:right"><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
            </ul>
          </h1>
          <label for="stocks">Portfolios: </label>
            <select name="stocks">
                {% for stock in data %}
                <option value="{{stock['stockname']}}">{{stock['stockname']}}</option>
                {% endfor %}
            </select>

            <div class="tickerinfo">
              <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Inital Value</th>
                      <th>Buy Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for stock in data %}
                      <tr>
                        <td>{{stock['stockname']}}</td>
                        <td>{{stock['quantity']}}</td>
                        <td>{{stock['initvalue']}}</td>
                        <td>{{stock['buydate']}}</td>
                        <td>
                          <form action="/portfolio" method="post">
                            <input type="hidden" name="ticker" value="{{stock['stockid']}}">
                            <input type="submit" name="changelist" value="Remove Portfolio">
                          </form>
                        </td>

                      </tr>
                    {% endfor %}
                  </form>
                  </tbody>
              </table>
            </div>


    </body>
</html>
