<!DOCTYPE html>
<html>
    <head>
        <Title>Portfolio</Title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>
            <ul>
                <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
              <li><a href="portfolio">Portfolio</a></li>
              <li><a href="watchlist">Watchlist</a></li>
              <li style="float:right"><a href="SignUpPage">Login</a></li>
              <li style="float:right">
                <!-- send post request with stock ticker-->
                <form action="/stockinfo.html" method="post">
                <input type="text" name="ticker" placeholder="Enter ticker">
                <input type="submit" value="Search">
                </form>
              </li>
            </ul>
          </h1>
          <label for="stocks">Stocks</label>
            <select name="stocks">
                <option value="MSFT">microsoft</option>
                <option value="AAPL">apple</option>

            </select>

            <div class="tickerinfo">

              <table>
                  <thead>
                      <tr>
                          <th>{{symbol}}</th>
                          <th>
                              <form action="/addstock" method="post">
                                  <input type="hidden" name="ticker" value="{{symbol}}">
                              </form>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">Date of Information</th>
                          <td>{{date}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Close Price</th>
                          <td>{{close}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Open Price</th>
                          <td>{{openprice}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Day High</th>
                          <td>{{high}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Day Low</th>
                          <td>{{low}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Daily Volume</th>
                          <td>{{volume}}</td>
                      </tr>
                  </tbody>
              </table>
            <template>
                <option value=""></option>
            </template>
    </body>
</html>