<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>Sign Up</h1>
<br />

<form action="/addNewUser" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="text" name="email"><br>
    <label for="firstname">First name:</label><br>
    <input type="text" name="firstname"><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" name="lastname"><br>
    <label for="pw">Password:</label><br>
    <input type="text" name="pw"><br><br>
    <input type="submit" value="Sign Up">

</form>

</body>
</html>
