<!--
<!DOCTYPE html>
<html>
<head>
    <Title>Watchlist</Title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Watchlist</h1>
    </header>
    
      <h1>
        <ul>
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li><a href="watchlist">Watchlist</a></li>
          <li style="float:right">
            <!-- send post request with stock ticker
            <form action="/stockinfo" method="post">
            <input type="text" name="ticker" placeholder="Enter ticker">
            <input type="submit" value="Search">
            </form>
          </li>
            {% if session %}
            <li style="float:right"><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li style="float:right"><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
      </h1>
<footer>
    <p></p>
</footer>
</body>
</html>

-->
<!DOCTYPE html>
<html>
<head>
    <Title> Watch List  </Title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Watch List</h1>
    </header>
    
      <h1>
        <ul>
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li style="float:right">
            <form action="/stockinfo" method="post">
            <input type="text" name="ticker" placeholder="Enter ticker">
            <input type="submit" value="Search">
            </form>
          </li>
            {% if session %}
            <li style="float:right"><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li style="float:right"><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
      </h1>

      <input type="text" value="Watch List" onclick="waitingList()">
      <table border="1">
        <tbody>
        <tr><td>Stock Name</td></tr>
        <tr><td> {{stocknames}} </td></tr>
        </tbody>
        </table>
<footer>
    <p></p>
</footer>
</body>
</html>